{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container mt-5"></div>
    <div class="row">

        <!-- Left Column for Text and Button -->
        <div class="col-md-6 d-flex align-items-center">
            <div class="content-wrapper px-5">
                <div>
                    <h1 class="display-4 mb-4"> The world’s destination for web talent</h1>
                    <h5 class="mb-4">Get inspired by the works of millions of top-rated web developers from around the world."</h5>
                    <div class="text-center">
                    <a href="{% url 'account_signup' %}" class="btn btn-dark btn-lg mt-5 rounded-pill px-5">Get Started</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Column for Image -->
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="https://res.cloudinary.com/dnbbm9vzi/image/upload/v1726679728/4_kljgyn.png" class="img-fluid" alt="Web Talent Image">
        </div>

    </div>
</div>

<!--Users carousel-->
<div class="user-carousel mt-5">
    <div class="carousel-wrapper">
        <div class="carousel-track d-flex align-items-center">
            <!-- User 1 -->
            <div class="user-item text-center mx-4">
                <img src="https://res.cloudinary.com/dnbbm9vzi/image/upload/v1726685047/Group_958_ehwgri.png" class="rounded-circle mb-3" alt="User 1" style="width: 350px; height: 350px;">
                <h6>User Name 1</h6>
                <p>Web Developer</p>
            </div>

            <!-- User 2 -->
            <div class="user-item text-center mx-4">
                <img src="https://res.cloudinary.com/dnbbm9vzi/image/upload/v1726685042/Group_949_oufsqq.png" class="rounded-circle mb-3" alt="User 2" style="width: 350px; height: 350px;">
                <h6>User Name 2</h6>
                <p>UI/UX Designer</p>
            </div>

            <!-- User 3 -->
            <div class="user-item text-center mx-4">
                <img src="https://res.cloudinary.com/dnbbm9vzi/image/upload/v1726685041/Group_943_xhocdf.png" class="rounded-circle mb-3" alt="User 3" style="width: 350px; height: 350px;">
                <h6>User Name 3</h6>
                <p>Web Developer</p>
            </div>

            <!-- User 4 -->
            <div class="user-item text-center mx-4">
                <img src="https://res.cloudinary.com/dnbbm9vzi/image/upload/v1726685046/Mask_group_edk32b.png" class="rounded-circle mb-3" alt="User 3" style="width: 350px; height: 350px;">
                <h6>User Name 3</h6>
                <p>Web Developer</p>
            </div>

            <!-- User 5 -->
            <div class="user-item text-center mx-4">
                <img src="https://res.cloudinary.com/dnbbm9vzi/image/upload/v1726685038/Group_950_oym0m9.png" class="rounded-circle mb-3" alt="User 3" style="width: 350px; height: 350px;">
                <h6>User Name 3</h6>
                <p>Web Developer</p>
            </div>

            <!-- User 6 -->
            <div class="user-item text-center mx-4">
                <img src="https://res.cloudinary.com/dnbbm9vzi/image/upload/v1726685039/Group_941_umgfkz.png" class="rounded-circle mb-3" alt="User 3" style="width: 350px; height: 350px;">
                <h6>User Name 3</h6>
                <p>Web Developer</p>
            </div>

            <!-- User 7 -->
            <div class="user-item text-center mx-4">
                <img src="https://res.cloudinary.com/dnbbm9vzi/image/upload/v1726685046/Group_959_ygqcro.png" class="rounded-circle mb-3" alt="User 3" style="width: 350px; height: 350px;">
                <h6>User Name 3</h6>
                <p>Web Developer</p>
            </div>

            <!-- User 8 -->
            <div class="user-item text-center mx-4">
                <img src="https://res.cloudinary.com/dnbbm9vzi/image/upload/v1726685042/Group_942_sfedno.png" class="rounded-circle mb-3" alt="User 3" style="width: 350px; height: 350px;">
                <h6>User Name 3</h6>
                <p>Web Developer</p>
            </div>
            
        </div>
    </div>
</div>













<!-- Section -->
<div class="cover-container">
    <div class="cover-content">
        <h1 class="cover-heading">Welcome to SaaS Project</h1>
        <p class="cover-subheading">A simple and beautiful web application.</p>
        <a href="{% url 'account_signup' %}" class="btn btn-light btn-custom">Get Started</a>
    </div>
</div>


{% endblock %}