/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9FAFC;
}

.navcolor {
    background-color: #F9FAFC;
}

footer {
    background-color: #F9FAFC;
}

/* Home page css for cover template */
.cover-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: rgb(0, 0, 0);
    text-align: center;
    background: url('https://fastly.picsum.photos/id/46/3264/2448.jpg?hmac=ZHE8nk-Q9uRp4MxgKNvN7V7pYFvA-9BCv99ltY3HBv4') no-repeat center center;
    background-size: cover;
}
.cover-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cover-heading {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.cover-subheading {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.btn-custom {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}

/* Allauth Templates */
.card-header-custom {
    background-color: #F9FAFC;
}

.card-body form .form-group {
    margin-bottom: 1rem; /* To add space between input fields */
}

label .asteriskField {
    display: none; /* To remove astrix from labels of input fields */
}

/* Social sign up & Sign in buttons */
.social-login-buttons .btn {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 12px
}

.social-login-buttons .btn i {
    margin-right: 8px;
}

/* Divider line under Social sign up buttons */
.divider {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.divider::before {
    content: "";
    display: block;
    border-top: 1px solid #ccc; /* Adjust color as needed */
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
}

.divider-text {
    display: inline-block;
    background: #F9FAFC; /* Adjust background color as needed */
    padding: 0 10px; /* Adjust padding as needed */
    position: relative;
    z-index: 2;
}

/*hide header and footer on sign up/login pages*/
.login-page .navbar,
    .login-page footer {
        display: none !important;
}

.card-logout {
    background-color: #F9FAFC;
}








/* Loader styles */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's above other content */
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.4em;
}

/* Hide loader once the content is loaded */
.loaded .loader-overlay {
    display: none;
}


/* Blogs and blog detail css */

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}


.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}


/* Custom blog css not related to walk through project */
.fixed-image {
    width: 100%; /* Ensures the image takes up the full width of the container */
    height: 250px; /* Fixed height for consistency */
    object-fit: cover; /* Ensures the image covers the entire area without distortion */
}

.image-container {
    position: relative;
    overflow: hidden; /* Ensures that any excess part of the image is hidden */
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background for overlay text */
}